<div class="top-row-box" style="flex: 1;min-width: 0; margin-right: 0px;">
    <div class="box" id="box2" style="padding: 0; margin: 0">
        <div style="background-color: #FFFFFF; height: 100%; display: flex; flex-direction: column; margin-left: 0px; flex: 1;">
            <div style="height: 40px; background-color: #D9D9D9; justify-content: space-between; align-items: center; display: flex; padding-right: 10px">
                <h5 id="gpt-page-indicator" style="font-size: 14px; font-weight: bold; color: #000000; padding: 0; margin: 0 10px;">
                    GPT (0/0)
                </h5>
                <img width="20px" height="20px" src="{{ MEDIA_URL }}expand.png" alt="Upload Icon" id="gpt_expand"/>
            </div>

            <div class="gpt-graph-image" id="gpt-graph-image" style="position: relative; height: calc(100% - 40px);">
                <div class="gpt-loading-spinner" id="gpt-loading-spinner">
                    <div class="spinner"></div>
                </div>

                <div class="gpt-swiper-container" style="overflow: hidden;">
                    <div class="swiper-wrapper" id="gpt-swiper-wrapper">

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</div>